{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h1>Buy</h1>
    
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    
    <form action="{{ url_for('buy') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text"/>
                <input autocomplete="off" autofocus class="form-control" name="quantity" placeholder="Quantity" type="text"/>
            <button class="btn btn-default" type="submit">Buy</button>
            <div class="form-group">
            </div>
        </fieldset>
    </form>
    
    
    
{% endblock %}
